body{
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}



/* UTILITY */
/* button */
.btn{
    margin: 8px 0;
}

.btn.btn-primary{
    vertical-align: middle;
    background-color: #fff;
    color: #006aff;
    border: 1px solid #006aff;
    transition: color .4s,
                backgrond-color .4s;
}

.btn.btn-form-blue{
    color: #fff;
    background-color: #579aff;
    display: inline-block;
    width: 100%;
}

.btn.btn-form-white{
    color: #797979;
    background-color: white;
    display: inline-block;
    width: 100%;
    box-shadow: 1px 1px 1px 0px rgb(212, 212, 212);
}

.btn.btn-primary:hover{
    color: white;
    background-color: #006aff;
}

/* typorgraphy */
h1,
h2,
h3,
h4{
    margin: 0;
    font-weight: 700;
    color: #031c4e;
}

h1{
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;
}

h3{
    margin-top: 10px;
}

a{
    color: #006aff;
    text-decoration: none;
}

li{
    list-style: none;
}

.text-darkblue{
    color: #031c4e;
}

.text-blue{
    color: #006aff;
}

.text-gray{
    color: #5c6a88;
}

.text-lightblue{
    color: #bbcdff;
}

.row{
    padding: 0 10px;
}





/* heander */
header nav .container{
    position: relative;
}
header .navbar-default{
    background-color: #fff;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #579aff;
}

.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}

header .navbar-header button{
    border: transparent;
}

.navbar-nav > li > a:not(.btn){
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    line-height: 50px;
}

header .navbar-header .navbar-brand{
    padding-top: 11px ;
    padding-bottom: 11px;
}

header .navbar-header .navbar-brand img{
    width: 150px;
    vertical-align: middle;
    display: inline;
}

.navbar-default .navbar-nav > li > a{
    color: #031c4e;
    transition: color .4s;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #006aff;
}

header .navbar-central{
    padding-left: 8%;
}

/* MAIN */
section{
    padding: 40px 0;
}
/* jumbotron */
.main-jumbotron{
    background-image: url(../img/bg-banner-home.jpg);
}

.main-jumbotron p{
    font-size: 18px;
    color: #bbcdff;
}

.main-jumbotron .left-jumbotron{
    color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.main-jumbotron .right-jumbotron{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 10px;
}

.main-jumbotron .right-jumbotron input{
    display: inline-block;
    width: 100%;
    line-height: 30px;
    padding: 0 5px;
    border: 1px solid rgba(206, 206, 206, .6);
    border-radius: 5px;
    margin: 5px 0;

}

.main-jumbotron .right-jumbotron input::placeholder{
    color: #464646;
    font-weight: 500;
}

.main-jumbotron .right-jumbotron button{
    position: relative;
}

.main-jumbotron .right-jumbotron button img{
    height: 18px;
    position: absolute;
    left: 10px;
    top: 9px;
}

.main-jumbotron .right-jumbotron p{
    font-size: 12px;
    color: #031c4e;

}

.main-jumbotron .right-jumbotron p a{
    text-decoration: underline;
}

/* sezione con le icone */
.icon{
    background-color: #f3f5f9;
}

.icon h5{
    text-transform: uppercase;
    font-size: 14px;
}

.icon ul{
    padding: 0;
}

.icon ul li{
    display: inline-block;
    width: calc((100%/2) - 12px);
    margin: 0 5px;
}

.icon ul li img{
    max-width: 100%;
}

/* deploy */
section .top-deploy p{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.row-deploy li{
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
    border-left: 2px solid #cecece;
}

.row-deploy .deploy-box{
    height: 160px;
}

.row-deploy .deploy-box img{
    margin-top: 10px;
}

.row-deploy .deploy-box h4{
    margin: 15px 0;
}

.row-deploy .deploy-box p{
    font-size: 16px;
    line-height: 20px;
}

.row-deploy ul{
    padding: 0;
}














/* media query */

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Mostra hamburger */
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 0;
    }
    /* Nascondi contenitore menu */
    .navbar-collapse {
        display: none;
    }
}



@media screen and (min-width:768px){
    
    
    
    /* jumbotron */
    .main-jumbotron .left-jumbotron{
        color: #fff;
        padding-right: 30px;
    }
    
    /* icon */
    .icon ul li{
        display: inline-block;
        width: calc((100%/6) - 12px);
        margin: 0 4px;
    }
    
    .icon ul li img{
        max-width: 100%;
    }
    
    /* deploy */
    section .top-deploy p{
        font-size: 17px;
    }
    
    .row-deploy li{
        font-size: 14px;
        line-height: 30px;
    }
    
    .row-deploy .deploy-box{
        height: 220px;
    }
    
    .row-deploy .deploy-box img{
        margin-top: 0;
    }

    .row-deploy ul{
        padding: 0 40px;
    }

    .row-deploy .deploy-box p{
        font-size: 13px;
        line-height: 17px;
    }
    
    
    
    
    
    
    
@media screen and (min-width:992px){
    h1{
        font-size: 50px;
    }



    /* deploy */
    .row-deploy .deploy-box{
        height: 180px;
    }

}

}